/* Si prega di visualizzare questa pagina con un formato immagine con 250px min e 1500px max */


*{
    padding: 0;
    margin: 0;
    background-color: #ADD8E6;
    box-sizing: border-box;
    font-family: 'Nerko One', cursive;
    text-align: center;
    /* Ho messo il text align qui perchè so di volere una pagina interamente centrata, senza lunghi testi di paragrafo, così mi centra anche i vari box */
    color: blue;
}
/* #istruzioni {
    display:inline-block;
    width: 50%;
    background-color: black;
    color: white;
    padding : 1% 2% 3% 2%;
} */

h1 {
    font-size: 500%;
}
#versione {
    font-size: 200%;
    color: darkblue;
}
#contenitore{
    width: 80%;
    margin: auto;
}

/* pre */
.box{
    position: relative;
    display: inline-block;
    background-image: url("../img/pattern.png");
    background-size: 150px;
    height: 250px;
    max-width: 200px;
    width: 20%;
    margin: 2%;
    border: solid darkblue 2px;
    border-radius: 10%;
}
.box p {
    visibility: hidden;
}
/* pre */

/* post */
.box:hover {
    display: inline-block;
    height: 250px;
    max-width: 200px;
    width: 20%;
    margin: 2%;
    border-radius: 10%;
    background-color: white;
    background-size: 150px;
    background-repeat: no-repeat;
    background-position: 50% 25%;
    transition: 0.5s;
    border: solid white 2px;

}

.box:hover p {
    position: absolute;
    color: grey;
    width: 100%;
    bottom: 10px;
    visibility: visible;
    background-color: white;
    border-radius: 20%;
}

.percentuale {
    background-color: white;
    font-size: 2em;
    color:black;
}
/* post */

footer p{
    display: block;
    margin: 20px;
    background-color: rgba(0, 0, 255, 0.5);
    color: white;
}

#box_1:hover {
    background-image: url("../img/biomassa.png");
}
#box_2:hover {
    background-image: url("../img/powerplant.jpg");
}
#box_3:hover {
    background-image: url("../img/industry.png");
}
#box_4:hover {
    background-image: url("../img/transportation.jpg");
}
#box_5:hover {
    background-image: url("../img/icon-agriculture.jpg");
}
#box_6:hover {
    background-image: url("../img/fuel.png");
}
#box_7:hover {
    background-image: url("../img/residential.jpg");
}
#box_8:hover {
    background-image: url("../img/discarica.jpg");
}
#box_9:hover {
    background-image: url("../img/stars.jpg");
}
#box_10:hover {
    background-image: url("../img/respect.jpg");
}
#box_11:hover {
    background-image: url("../img/love.png");
}
#box_12:hover {
    background-image: url("../img/walking.png");
}
